body{
    background: #343434;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    cursor: pointer;
}

header{
    height: 60px;
    width: 100%;
}

header nav{
    display: flex;
    justify-content: flex-end;    
}

header nav .nav-profile-menu {
    height: auto;
    width: 200px;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
}

nav .nav-profile-menu a{
    margin-right: 20px;
    color: white;
}

nav .nav-profile-menu .profile-image img{
    height: 35px;
    width: 35px;
    border-radius: 35px;
}

main {
    margin-top: auto;
    text-align: center;
}

main .search-engine-logo{
    width: 400px;
    margin: auto;
    margin-bottom: 30px;
}

main .search-engine-logo img{
    height: 90px;
    width: 280px;
}

main .search-bar {
    width: 580px;
    margin: auto;
    margin-bottom: 35px;
}

main .search-bar-text-input{
    height: 50px;
    width: 580px;
    border-radius: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .search-bar-text-input input{
    width: 500px;
    border: none;
    outline: none;
}

main .search-bar-menu{
    width: 580px;
    margin: auto;
}

main .search-bar-menu div{
    display: inline;
    align-items: center;
}

main .search-bar-menu button{
    height: 35px;
    width: 150px;
    font-size: 14px;
    color: white;
    background-color: #414a4c;
    border: none;
    border-radius: 5px;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

main .search-bar-menu button:hover{
    border: 3px solid white;
}

footer{
    height: 50px;
    width: 100%;
    bottom: 0%;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1b1b1b;
    align-items: center;
    position: absolute;
}

footer ul{
    margin: 20px;
    list-style: none;
    display: flex;
    padding-left: 0%;
    padding-right: 0%;
}

footer .footer-left-side{
    justify-content: left;
}

footer .footer-right-side{
    justify-content: right;
}

footer ul li a{
    margin: 10px;
    color: white;
}